body
{
    background:#f9f9f9!important;
}
.head-part
{
    min-width:100%;
    height: 30vh;
    background: linear-gradient(45deg, #0dd2dd, #dbfdff);
}

.tit-head
{
    width: 800px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 10vh;
}

.tit-head h1
{
    font-family: monospace;
    font-size: 50px;
}

.tit-head h4
{
    font-family: 'Gaegu', cursive;
    font-size: 30px;
}

.add-btn
{
    width: 80px;
    display: block;
    margin: 6vh auto;
}

.table-section
{
    background: #fff;
    text-align: center;
    width:90vh;
    height: 80vh;
    display: block;
    margin: 0 auto;
    border: 2px solid #9e9e9e;
    border-radius: 10px;
    -webkit-box-shadow: -2px -2px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -2px -2px 2px 0px rgba(0,0,0,0.2);
    box-shadow: -2px -2px 2px 0px rgba(0,0,0,0.2);
}

.table-section h2
{
  font-family: 'Titillium Web', sans-serif;

}

.lecol
{
    border-right: 2px dotted black;
    height: 80vh;
}

.ricol h2
{
    color: #128c26;
}

.lecol h2
{
    color: #e82929;
}

.todo-list
{
    text-align: left;
    font-size: 18px;
}

.todo-list li
{
    padding-bottom: 10px;
}

.act
{
    font-size: 25px;
    color: #128c26;
}

.dont
{
    font-size: 25px;
    color: #00a4bc;
}

.remov
{
  font-size: 25px;
  color: #f00;
}

.done-list
{
    text-align: left;
    font-size: 18px;
}

.done-list li
{
    padding-bottom: 10px;
}
